@forward '../../styles/globals/';
@use '../../styles/util/' as u1;


body {
    background-color: #f8ffff !important;
    color: #17365b;
}
.AppMain {
    @include u1.block_display();
    font-family: 'Titillium Web', sans-serif;

    .header {
        padding: 10px 15px;
        font-size: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .HMenu {
            @include u1.block_display();
            cursor: pointer;
            width: 40px;
            height: 33px;

            > div {
                width: 100%;
                height: 100%;
            }
        }
    }

    .HomePageDts {
        width: 100vw;
        height: 92.5vh;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 50px;
        font-weight: 700;
    }

    .productList, .productView {
        width: 100vw;
        height: 110vh;
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;

        .PrdBoxCvr {
            width: 900px;

            .BoxGen {
                position: relative;
                width: 100%;
                height: 90px;
                margin: 10px 0;
                display: flex;
                align-items: flex-end;

                .BxTitle {
                    font-size: u1.rem(28);
                    font-weight: 400;
                }
                .BxLine1, .BxLine2 {
                    position: relative;
                    width: 56%;
                    margin: 0 u1.rem(20);
                    bottom: 15px;
                    border-bottom: 1px solid #17365b;
                }
                .BxImg {
                    width: 70px;
                    height: 70px;
                    position: absolute;
                    top: 0;
                    left: 50%;
                    bottom: auto;
                    right: auto;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 4px;
                    }
                }

                &.B2 {
                    .BxLine1 { width: 40%; }
                    .BxLine2 { width: 16%; }
                    .BxImg { left: 20%; }
                }
                &.B3 {
                    .BxLine1 { width: 16%; }
                    .BxLine2 { width: 40%; }
                    .BxImg { left: 70%; }
                }
                &.B4 {
                    .BxLine1 { width: 25%; }
                    .BxLine2 { width: 21%; }
                    .BxImg { left: 10%; }
                }
                &.B5 {
                    .BxLine1 { width: 32%; }
                    .BxLine2 { width: 20%; }
                    .BxImg { left: 87%; }
                }
            }
        }
    }

    .productView {

        .ProductMCvr {
            position: relative;
            width: 900px;
            height: 600px;

            .ProductImg {
                width: 100%;
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 4px;
                }
            }

            .ProductTitle {
                @include u1.block_display();
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                // z-index: 1; - if you allow z-index, the mix-blend-mode will not work
                font-size: u1.rem(130);
                font-weight: 600;

                .Ti2 {
                    padding-inline: 20px;
                    text-align: center;
                    mix-blend-mode: difference; // you can also try mix-blend-mode: difference;
                    filter: invert(1);
                }
            }
        }
    }
}