@use '../../styles/util/' as u1;

.customCursor {
    $dimension: 25px;
    position: fixed;
    z-index: 10;
    width: $dimension;
    height: $dimension;
    border-radius: 100%;
    top: -25px;
    left: -25px;
    // top: calc(0px - calc($dimension/2));
    // left: calc(0px - calc($dimension/2));
    background-color: olivedrab;
    transition: ease-out .3s;
}