@use '../../styles/util/' as u1;

.imgSnpCvr {
    width: 185px;
    position: fixed;
    z-index: 10;
    top: 10px;
    left: 20px;

    img {
        position: relative;
        max-width: 100%;
    }
}